.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  /* border: rgba(0, 0, 0, 0.349) 1px solid; */
  border-radius: 10px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.forms {
  text-align: center;
  width: 400px;
  max-width: 350px;
}

.button {
  outline: none;
}

.card {
  perspective: 1000px;
  text-align: center;
  width: 450px;
  max-width: 500px;
}

.login, .register {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.login {
  background-color: #f0f0f0;
}

.register {
  background-color: #ccc;
  transform: rotateY(180deg);
}

.show-back {
  transform: rotateY(180deg);
}

@media (width <= 450px) {
  .form {
    width: 250px;
    max-width: 300px;
  }
}