.container {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 2000px;
}

.form-container {
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.forms {
  text-align: center;
  width: 400px;
  max-width: 350px;
}

.container.rotate .card {
  transform: rotateY(-180deg);
}

.card {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: transform 800ms;
  transform-style: preserve-3d;
  position: relative;
}

.login-form {
  backface-visibility: hidden;
  position: absolute;
}

.register-form {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

@media (width <=450px) {
  .forms {
    width: 250px;
    max-width: 300px;
  }
}